<div id="profile-menu">
  <ul class="nav nav-tabs" role="tablist">
    <li class="<%= profile_show_tab_class %>"><%= link_to "Bizus", profile_path(@user) %></li>
    <li class="<%= profile_favorite_tab_class %>"><%= link_to "Favoritos", profile_favorites_path(@user) %></li>
    <li class="<%= profile_negative_tab_class %>"><%= link_to "Rebaixados", profile_negatives_path(@user) %></li>
    <li class="<%= profile_comment_tab_class %>"><%= link_to "Comentados", profile_commented_path(@user) %></li>
  </ul>
</div>
