<section id="profile-info">
  <div class="row">
    <div class="col-md-12">
      <article>
        <%= image_tag avatar_url(@user), class: "user-photo" %>
      </article>

      <article>
        <p>
          <strong><%= t("activerecord.attributes.user.username") %>:</strong>
          <span><%= @user.username %></span>
        </p>
        <p>
          <strong>E-mail:</strong>
          <span><%= @user.email %></span>
        </p>
        <p>
          <strong><%= @user.stories.count %> bizuuus!</strong>
        </p>
      </article>

      <% if current_user == @user %>
        <aside>
          <%= link_to t("profile.edit"), edit_user_registration_path %>
        </aside>
      <% end %>
    </div>
  </div>
</section>
