<nav id="story_filters" class="row">
  <div class="col-lg-12">
    <div class="filters form-inline">
        <div class="form-group">
          <span>Ordenar por:</span>
          <%= select_tag :order, options_for_select([["novos", :by_date], ["votos", :by_rating]], selected_filter("order")), class: "form-control" %>
        </div>
        <div class="form-group">
          <span>Filtrar por:</span>
          <%= select_tag :filter, options_for_select([["todos", :timeline], ["este mês", :by_current_month], ["esta semana", :by_current_week]], selected_filter("filter")), class: "form-control" %>
        </div>
    </div>

    <div class="filters">
      <span>Tags:</span>
      <ul>
        <% if params[:tags].present? %>
          <li>
            <% params[:tags].split(",").map(&:strip).each do |tag| %>
              <span class="label label-primary"><%= tag %></span>
            <% end %>
            <%= link_to "remover tags", current_filtered_url(order: params[:order], filter: params[:filter]) %>
          </li>
        <% else %>
          <li>
            <%= form_for :search, method: :get, html: { class: "form-inline" } do |f| %>
              <%= text_field_tag :tags, nil, class: "form-control input-sm" %>
              <%= f.button "Ok", class: "btn btn-default btn-sm" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
