<nav id="story_filters">
  <span>Ordenar por:</span>
  <ul>
    <li><%= story_filter_handler "novos", :order, :by_date %></li>
    <li><%= story_filter_handler "votos", :order, :by_rating %></li>
    <li>|</li>
    <li><%= story_filter_handler "todos",       :filter, :timeline %></li>
    <li><%= story_filter_handler "este mês",    :filter, :by_current_month %></li>
    <li><%= story_filter_handler "esta semana", :filter, :by_current_week %></li>
    
    <% if params[:tag] %>
      <li>|</li>
      <li>Tag:</li>
      <li>
        <span class="label label-primary">
          <%= params[:tag] %>
        </span>
        (<%= link_to "remover tag", root_path(order: params[:order], filter: params[:filter]) %>)
      </li>
    <% end %>
  </ul>
</nav>