<div class="story-container">
  <div class="lead">
    <p>
      <%= link_to story.description, story.url, target: "_blank" %>
    </p>
  </div>
  <div>
    <div class="col-xs-6">
      <div id="story-votes-<%=story.id%>" class="story-ratings">
        <%= render partial: "ratings", locals: {story: story} %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="time-container">
        <p>
          <%= image_tag avatar_url(story.user), class: "user-photo" %>
          <%= story.user.username %> <strong>compartilhou em</strong> <%= l story.created_at %>
          <% if story.user == current_user %>
            |
            <%= link_to "editar", edit_user_story_path(current_user, story) %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
