<div class="menu-btn-actions">
  <% if user_signed_in? %>
    <div class="menu-btn-actions">
      Olá <strong><%= current_user.username %></strong>!
    </div>
    <p>
      <%= link_to "Publicar Novo Bizuuu!", new_user_story_path(current_user), class: "btn btn-default" %>
      <%= link_to "Sair", destroy_user_session_path, :method => :delete, class: "btn btn-default" %>
    </p>
  <% else %>
    <%= link_to "Entrar", new_user_session_path, class: "btn btn-default" %>
  <% end %>
</div>
<%= render partial: "story", collection: @stories %>
