<%= render "story_filters" %>

<%= paginate @stories %>

<% if @stories.any? %>
  <%= render partial: "stories/story", collection: @stories, locals: { show_comments: false } %>
<% else %>
  <div class="well">
    <%= t("story.no_story") %>
  </div>
<% end %>

<%= paginate @stories %>
