<% if show_comments %>
  <hr>
  <div class="comments-container">
    <%= render partial: "stories/comment", collection: story.comments %>
  </div>
  <% if current_user %>
    <div class="new-comment-container">
      <%= form_for Comment.new do |f| %>
        <div class="form-group">
          <%= f.text_area :text, class: "form-control", placeholder: "Comente aqui" %>
        </div>
        <%= f.hidden_field :commentable_type, value: "Story" %>
        <%= f.hidden_field :commentable_id, value: story.id %>
        <button type="submit" class="btn btn-primary">Comentar</button>
      <% end %>
    </div>
  <% end %>
<% end %>