<div class="story-container">
  <div class="row">
    <div class="col-md-9 story-description">
      <div class="lead">
        <%= link_to story.description, story.url, target: "_blank" %>
      </div>

      <% if story.tag_list.present? %>
        <aside class="tags">
          Tags: <%= raw story.tag_list.map { |tag| story_tag_handler tag, order: params[:order], filter: params[:filter] }.join(", ") %>
        </aside>
      <% end %>
    </div>
    <div class="col-md-3">
      <div id="story-votes-<%=story.id%>" class="story-ratings">
        <%= render partial: "stories/ratings", locals: {story: story} %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 comments-status">
      <%= link_to "#{story.comments.count} Comentários", story %>
      <div class="fb-share-button" data-href="<%= story_url(story) %>" data-type="icon"></div>
    </div>

    <div class="col-md-6 time-container">
      <%= image_tag avatar_url(story.user), class: "user-photo" %>
      <span>
        <%= story.user.username %> <strong>em</strong> <%= l story.created_at %>
        <% if story.user == current_user %>
          |
          <%= link_to "editar", edit_story_path(story) %>
        <% end %>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <%= render "stories/comments", story: story, show_comments: show_comments %>
    </div>
  </div>
</div>
