<div class="story-container">
  <div class="row">
    <div class="col-md-1 story-icon">
      <%= story_icon(story) %>
    </div>
    <div class="col-md-8 story-description">
      <div class="lead">
        <%= story_link(story) %>
      </div>

      <% if story.tag_list.present? %>
        <aside class="tags">
          Tags: <%= raw story.tag_list.map { |tag| story_filter_handler tag, :tags, tag }.join ", " %>
        </aside>
      <% end %>
    </div>
    <div class="col-md-3">
      <div id="story-votes-<%=story.id%>" class="story-ratings">
        <%= render partial: "stories/ratings", locals: {story: story} %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-1 comments-status">
      <div class="addthis_toolbox addthis_default_style"
            addthis:url="<%= story_url(story) %>"
            addthis:title="olha o bizuuuu!"
            addthis:description="<%= story.description %>">
        <span class="addthis_separator">
          <%= link_to "#{story.comments.count} Comentários", story %>
        </span>
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_compact"></a>
      </div>
    </div>

    <div class="col-md-5 time-container">
      <%= link_to image_tag(avatar_url(story.user), class: "user-photo"), profile_path(story.user) %>
      <span>
        <%= link_to story.user.username, profile_path(story.user) %> <strong>em</strong> <%= l story.created_at %>
        <% if story.user == current_user %>
          |
          <%= link_to "editar", edit_story_path(story) %>
        <% end %>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <%= render "stories/comments", story: story, show_comments: show_comments %>
    </div>
  </div>
</div>
