<h1>Stories#new</h1>
<%= form_for @story do |f| %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit "bizuuuu" %>
<% end %>
