<!DOCTYPE html>
<html>
<head>
  <title>Bizusafo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= render "shared/header" %>

  <%= render "shared/flash_messages" %>

  <%= render "shared/main_menu" %>
  
  <%= yield %>
</div>

</body>
</html>
